manifest {
	author = "Christian Schudoma, Anastasia Grekova, Supriya Khedkar"
	defaultBranch = "main"
	description = "Pipeline for recombinase-based detection of mobile genetic elements in microbial genomes"
	name = "proMGEflow"
	nextflowVersion = ">=22.10.6"
	version = "3.10.0"
}

process {
	cache = "lenient"
	errorStrategy = { task.attempt <= 3 ? "retry" : "ignore" }
	maxRetries = 3
}

params {
	use_y_clusters = true
}