manifest {
	author = "Christian Schudoma, Anastasia Grekova, Supriya Khedkar"
	defaultBranch = "main"
	description = "Pipeline for recombinase-based detection of mobile genetic elements in microbial genomes"
	name = "proMGEflow"
	nextflowVersion = ">=24"
	version = "3.11.2"
}

process {
	cache = "lenient"
	errorStrategy = { task.attempt <= 3 ? "retry" : "ignore" }
	maxRetries = 3

	withName: publish_annotations {
		publishDir = [ path: "${params.output_dir}", mode: "copy" ]
	}
}

params {
	use_y_clusters = true
	prodigal_batch_size = 10
	recognise_marker_set = "motus"
}