manifest {
	author = "Christian Schudoma, Anastasia Grekova, Supriya Khedkar"
	defaultBranch = "main"
	description = "Pipeline for recombinase-based detection of mobile genetic elements in microbial genomes"
	name = "proMGEflow"
	nextflowVersion = ">=24"
	version = "3.13.0"
}

process {
	cache = "lenient"
	errorStrategy = { task.attempt <= 3 ? "retry" : "ignore" }
	maxRetries = 3

	withName: publish_gene_annotations {
		publishDir = [ path: "${params.output_dir}", mode: "copy" ]
	}
	withName: publish_recombinase_scan {
		publishDir = [ path: "${params.output_dir}", mode: "copy" ]
	}
	withName: mgexpose {
		publishDir = [
			[ path: params.output_dir, mode: "copy", pattern: "**.mge_islands.gff3" ],
			[ path: params.output_dir, mode: "copy", pattern: "**.mge_islands.ffn.gz" ],
			[ path: params.output_dir, mode: "copy", pattern: "**.gene_info.txt" ]
		]
	}
	withName: pangenome_summary {
		publishDir = [ path: "${params.output_dir}", mode: "copy" ]
	}
}

params {
	use_y_clusters = true
	write_genes_to_gff = true
	prodigal_batch_size = 10
	recognise_marker_set = "motus"
	simple_output = false
}